<!-- Alerts -->
<div id="customAlert" class="alert-modal">
  <div class="alert-content text-white">
    <h2 id="alertTitle" class="text-white">alertTitle</h2>
    <p id="alertMessage" class="text-white hidden">alertMessage</p>
    <button id="okButton" class="hidden">OK</button>
  </div>
</div>
