<!doctype html>

<div class="bg-[#f8f8f8] pr-5">
  <div class="hidden"><%- include ("../partials/header") %></div>

  <div class="flex max-w-1200 mx-auto">
    <div class="grid gap-x-3 grid-cols-4 w-full rounded-sm">
      <%- include ("./sidebar") %>

      <div class="grid col-span-3 grid-cols-3 gap-x-1 py-3 rounded-lg">
<!-- Show all Banners -->
        <div
          class="rounded-md w-full col-span-3 font-medium text-[17px] p-4 text-[#000123] bg-white mt-2"
        >
          
          <div class="grid col-span-3 grid-cols-3 gap-x-1">
            <div class="col-span-3">
                <% for(i=0;i<banner.length;i++) {%>
                  <%- include("./bannerItems")%> <%}%>
              </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hidden"><%- include ("../partials/footer") %></div>
