<div class="bg-[#FAFAFA] pr-5">
  <div class="hidden"><%- include ("../partials/header") %></div>

  <div class="flex max-w-1200 mx-auto">
    <div class="grid gap-x-3 grid-cols-4 w-full rounded-sm">
      <%- include ("./sidebar") %>
      <div
        class="rounded-md w-full col-span-3 font-medium text-[17px] p-4 text-[#000123] bg-white mt-3"
      >
        Update Delivery:
        <form class="rounded-lg p-3 mt-2" id="updateDelivery">
          <div class="flex gap-x-2">
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] w-1/2">
              <label for="Name" class="text-[12px] md:text-[14px] font-medium"
                >Name</label
              >
              <input
                type="text"
                name="name"
                placeholder="<%delivery.name%>"
                class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
              />
            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] w-1/2">
              <label for="Charge" class="text-[12px] md:text-[14px] font-medium"
                >Charge</label
              >
              <input
                type="text"
                name="price"
                class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                placeholder="<%delivery.price%>"
              />
            </div>
          </div>
          <div class="flex gap-x-2">
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] w-1/2">
              <label
                for="location"
                class="text-[12px] md:text-[14px] font-medium"
                >Location</label
              >
              <input
                type="text"
                name="location"
                placeholder="<%delivery.location%>"
                class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
              />
            </div>

            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] w-1/2">
              <label
                for="Description"
                class="text-[12px] md:text-[14px] font-medium"
                >Description</label
              >
              <input
                type="text"
                name="description"
                placeholder="<%delivery.description%>"
                class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
              />
            </div>
          </div>

          <div class="flex justify-between">
            <button
              type="submit"
              class="text-[17px] mt-3 font-medium p-3 bg-gradient-to-r from-[#3baf3d] to-[#5DC234] text-white rounded-md"
            >
              Update Delivery
            </button>
            <button
              class="text-[17px] mt-3 font-medium p-3 bg-[#DC0D0D] text-white rounded-md"
              onclick="deletefDelivery()"
              type="button"
            >
              Delete Delivery
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flex">
    <div id="deleteCategory" style="display: none">
      <%- include ("./deleteCategory") %>
    </div>
  </div>
  <div id="customAlert" class="alert-modal">
    <div class="alert-content text-white">
      <h2 id="alertTitle" class="text-white">alertTitle</h2>
      <p id="alertMessage" class="text-white hidden">alertMessage</p>
      <button id="okButton" class="hidden">OK</button>
    </div>
  </div>
  <div class="hidden"><%- include ("../partials/footer") %></div>
</div>
