<div class="h-full w-[97%] min-h-screen bg-[white]">
  <div class="m-4">
    <a href="/" class="">
      <img src="../../public/Images/logo.svg" />
    </a>
  </div>
  <!-- Dashboard -->
  <div>
    <button
      class="sidebar justify-start items-center flex w-full text-base pl-4 h-12 text-[#12ADF1] hover:bg-[#91e271] hover:text-white"
      onclick="window.location.href='/admindashboard/homepage'"
    >
      Dashboard
    </button>
  </div>
  <!-- Products -->
  <div>
    <button
      class="sidebar justify-start items-center flex w-full text-base pl-4 h-12 text-[#12ADF1] hover:bg-[#91e271] hover:text-white"
      onclick="window.location.href='/admindashboard/allproducts'"
    >
      Products
    </button>
    <div class="bg-[#a9df94] text-white">
      <button
        class="ml-3 w-full justify-start items-center flex text-base pl-4 h-12"
        onclick="window.location.href='/admindashboard/allproducts'"
      >
        All Products
      </button>
      <button
        class="ml-3 w-full justify-start items-center flex text-base pl-4 h-12"
        onclick="window.location.href='/admindashboard/products'"
      >
        Add Products
      </button>
    </div>
  </div>
  <!-- Category -->
  <div>
    <button
      class="sidebar justify-start items-center flex w-full text-base pl-4 h-12 text-[#12ADF1] hover:bg-[#91e271] hover:text-white"
      onclick="window.location.href='/admindashboard/category'"
    >
      Category
    </button>
    <div class="bg-[#a9df94] text-white">
      <button
        class="ml-3 w-full justify-start items-center flex text-base pl-4 h-12"
        onclick="window.location.href='/admindashboard/allcategories'"
      >
        All Categories
      </button>
      <button
        class="ml-3 w-full justify-start items-center flex text-base pl-4 h-12"
        onclick="window.location.href='/admindashboard/category'"
      >
        Add Category
      </button>
    </div>
  </div>
  <!-- Orders -->
  <div>
    <button
      class="sidebar justify-start items-center flex w-full text-base pl-4 h-12 text-[#12ADF1] hover:bg-[#91e271] hover:text-white"
      onclick="window.location.href='/admindashboard/orders'"
    >
      Orders
    </button>
  </div>
  <!-- Shipping -->
  <div>
    <button
      class="sidebar justify-start items-center flex w-full text-base pl-4 h-12 text-[#12ADF1] hover:bg-[#91e271] hover:text-white"
      onclick="window.location.href='/admindashboard/shipping'"
    >
      Shipping
    </button>
  </div>
  <!-- Users -->
  <div>
    <button
      class="sidebar justify-start items-center flex w-full text-base pl-4 h-12 text-[#12ADF1] hover:bg-[#91e271] hover:text-white"
      onclick="window.location.href='/admindashboard/users'"
    >
      Users
    </button>
    <div class="bg-[#a9df94]">
      <button
        class="ml-3 w-full justify-start items-center flex text-base pl-4 h-12 text-white"
        onclick="window.location.href='/admindashboard/allusers'"
      >
        All Users
      </button>
      <div class="ml-2">
        <button
          class="ml-3 w-full justify-start items-center flex text-base pl-4 h-12 text-white"
          onclick="window.location.href='/admindashboard/allusers'"
        >
          Customers
        </button>
        <button
          class="ml-3 w-full justify-start items-center flex text-base pl-4 h-12 text-white"
          onclick="window.location.href='/admindashboard/allusers'"
        >
          Vendors
        </button>
      </div>
      <button
        class="ml-3 w-full justify-start items-center flex text-base pl-4 h-12 text-white"
        onclick="window.location.href='/admindashboard/users'"
      >
        Add Users
      </button>
    </div>
  </div>
</div>

<script>
  var sidebar = document.getElementsByClassName("sidebar");
  switch (true) {
    case urlContainsWord("homepage"): {
      sidebar[0].style.backgroundColor = "#38C102";
      sidebar[0].style.color = "white";

      break;
    }
    case urlContainsWord("product"): {
      sidebar[1].style.backgroundColor = "#38C102";
      sidebar[1].style.color = "white";
      break;
    }
    case urlContainsWord("categor"): {
      sidebar[2].style.backgroundColor = "#38C102";
      sidebar[2].style.color = "white";

      break;
    }
    case urlContainsWord("order"): {
      sidebar[3].style.backgroundColor = "#38C102";
      sidebar[3].style.color = "white";

      break;
    }
    case urlContainsWord("shipping"): {
      sidebar[4].style.backgroundColor = "#38C102";
      sidebar[4].style.color = "white";

      break;
    }

    case urlContainsWord("user"): {
      sidebar[5].style.backgroundColor = "#38C102";
      sidebar[5].style.color = "white";

      break;
    }
  }

  function urlContainsWord(word) {
    var url = window.location.href;
    var lowercaseUrl = url.toLowerCase();
    var lowercaseWord = word.toLowerCase();

    return lowercaseUrl.indexOf(lowercaseWord) !== -1;
  }
</script>
