<div class="h-full min-h-screen bg-[white]">
  <div class="m-4">
    <a href="/" class="">
      <img src="../../public/Images/logo.svg" />
    </a>
  </div>
  <button
    class="sidebar justify-start items-center flex w-full text-base pl-4 mt-2 h-12 text-[#12ADF1]"
    onclick="window.location.href='/admindashboard/homepage'"
  >
    Dashboard
  </button>
  <button
    class="sidebar justify-start items-center flex w-full text-base pl-4 mt-2 h-12 text-[#12ADF1]"
    onclick="window.location.href='/admindashboard/allproducts'"
  >
    Products
  </button>
  <div>
    <button
      class="ml-3 w-full justify-start items-center flex text-base pl-4 mt-2 h-12 text-[#12ADF1]"
      onclick="window.location.href='/admindashboard/allproducts'"
    >
      View all Products
    </button>
    <button
      class="ml-3 w-full justify-start items-center flex text-base pl-4 mt-2 h-12 text-[#12ADF1]"
      onclick="window.location.href='/admindashboard/products'"
    >
      Add Products
    </button>
  </div>
  <button
    class="sidebar justify-start items-center flex w-full text-base pl-4 mt-2 h-12 text-[#12ADF1]"
    onclick="window.location.href='/admindashboard/category'"
  >
    Category
  </button>
  <button
    class="sidebar justify-start items-center flex w-full text-base pl-4 mt-2 h-12 text-[#12ADF1]"
    onclick="window.location.href='/admindashboard/orders'"
  >
    Orders
  </button>
  <button
    class="sidebar justify-start items-center flex w-full text-base pl-4 mt-2 h-12 text-[#12ADF1]"
    onclick="window.location.href='/admindashboard/shipping'"
  >
    Shipping
  </button>
  <button
    class="sidebar justify-start items-center flex w-full text-base pl-4 mt-2 h-12 text-[#12ADF1]"
    onclick="window.location.href='/admindashboard/users'"
  >
    Users
  </button>
</div>

<script>
  var sidebar = document.getElementsByClassName("sidebar");
  switch (true) {
    case urlContainsWord("homepage"): {
      sidebar[0].style.backgroundColor = "#38C102";
      sidebar[0].style.color = "white";

      break;
    }
    case urlContainsWord("product"): {
      sidebar[1].style.backgroundColor = "#38C102";
      sidebar[1].style.color = "white";
      break;
    }
    case urlContainsWord("categor"): {
      sidebar[2].style.backgroundColor = "#38C102";
      sidebar[2].style.color = "white";

      break;
    }
    case urlContainsWord("order"): {
      sidebar[3].style.backgroundColor = "#38C102";
      sidebar[3].style.color = "white";

      break;
    }
    case urlContainsWord("shipping"): {
      sidebar[4].style.backgroundColor = "#38C102";
      sidebar[4].style.color = "white";

      break;
    }

    case urlContainsWord("user"): {
      sidebar[5].style.backgroundColor = "#38C102";
      sidebar[5].style.color = "white";

      break;
    }
  }

  function urlContainsWord(word) {
    var url = window.location.href;
    var lowercaseUrl = url.toLowerCase();
    var lowercaseWord = word.toLowerCase();

    return lowercaseUrl.indexOf(lowercaseWord) !== -1;
  }
</script>
