<div class="rounded-lg border-[3px] px-1 h-screen bg-[white]">
  <button
    class="sidebar w-full text-base rounded-lg mt-2 h-12 text-[#12ADF1]"
    onclick="window.location.href='/admindashboard/homepage'"
  >
    Dashboard
  </button>
  <button
    class="sidebar w-full text-base rounded-lg mt-2 h-12 text-[#12ADF1]"
    onclick="window.location.href='/admindashboard/products'"
  >
    Products
  </button>
  <button class="sidebar w-full text-base rounded-lg mt-2 h-12 text-[#12ADF1]">
    Shipping
  </button>
  <button
    class="sidebar w-full text-base rounded-lg mt-2 h-12 text-[#12ADF1]"
    onclick="window.location.href='/admindashboard/users'"
  >
    Users
  </button>
</div>

<script>
  var sidebar = document.getElementsByClassName("sidebar");
  switch (true) {
    case urlContainsWord("homepage"): {
      sidebar[0].style.backgroundColor = "#38C102";
      sidebar[0].style.color = "white";

      break;
    }
    case urlContainsWord("product"): {
      sidebar[1].style.backgroundColor = "#38C102";
      sidebar[1].style.color = "white";
      break;
    }
    case urlContainsWord("shipping"): {
      sidebar[2].style.backgroundColor = "#38C102";
      sidebar[2].style.color = "white";

      break;
    }
    case urlContainsWord("users"): {
      sidebar[3].style.backgroundColor = "#38C102";
      sidebar[3].style.color = "white";

      break;
    }
  }

  function urlContainsWord(word) {
    var url = window.location.href;
    var lowercaseUrl = url.toLowerCase();
    var lowercaseWord = word.toLowerCase();

    return lowercaseUrl.indexOf(lowercaseWord) !== -1;
  }
</script>
