<div class="font-prox relative overflow-hidden">
  <img src="../public/Images/homepage/Ad.jpg" class="w-full" />
  <div
    class="absolute pl-[21px] lg:pl-[30px] md:pl[17px] lg:top-[94px] md:top-[57px] top-[63px] z-50"
  >
    <div class="font-[250] lg:text-[32px] md:text-[19px] text-[22px]">
      Flat 20% Discount
    </div>
    <div class="font-[600] lg:text-[32px] md:text-[19px] text-[22px]">
      Veg-Subscription
    </div>
    <a
      ><div
        class="font-[600] lg:text-[14px] md:text-[8px] text-[9px] underline pt-[22px] md:pt-[32px] lg:pt-[47px]"
      >
        SHOP NOW
      </div></a
    >
  </div>
  <div class="absolute bottom-0 right-0 m-h-[225px] overflow-hidden">
    <img
      src="../../public/Images/homepage/Cardimg.png"
      class="lg:h-[225px] h-[156px] sm:h-[180px] md:h-[133px]"
    />
  </div>
</div>
