<div class="font-prox relative overflow-hidden">
  <img
    src="../public/Images/homepage/Ad.jpg"
    class="w-full h-[236px] md:h-[202px] lg:h-[340px]"
  />
  <div
    class="absolute pl-[21px] lg:pl-[30px] md:pl[17px] lg:top-[94px] md:top-[55px] top-[63px]"
  >
    <div class="font-[250] lg:text-[32px] md:text-[19px] text-[22px]">
      <%= addata[0].title%>
    </div>
    <div class="font-[600] lg:text-[32px] md:text-[19px] text-[22px]">
      <%= addata[0].text%>
    </div>
    <a href="singlepackage"
      ><div
        class="font-[600] lg:text-[14px] md:text-[8px] text-[9px] underline pt-[22px] md:pt-[32px] lg:pt-[47px]"
      >
        SHOP NOW
      </div></a
    >
  </div>
  <div
    class="absolute -bottom-14 -right-8 md:-right-10 md:-bottom-16 lg:-bottom-[80px] lg:-right-12 m-h-[225px] overflow-hidden"
  >
    <img
      src="      <%= addata[0].image[0]%>
      "
      class="xl:h-[290px] lg:h-[260px] h-[196px] md:h-[230px]"
    />
  </div>
</div>
