<!-- Alerts -->
<div id="customAlert" class="alert-modal">
  <div class="alert-content text-white">
    <div class="flex justify-between items-center">
      <div><h2 id="alertTitle" class="text-white">alertTitle</h2></div>
      <div>
        <button id="okButton">&times;</button>
      </div>
    </div>
    <p id="alertMessage" class="text-white hidden">alertMessage</p>
  </div>
</div>
