<div
  class="p-[4.96px] lg:p-[8.25px] md:p-[5.74px] justify-center rounded border-[1px] sm:flex-shrink-0 lg:w-full"
>
  <a href="package/<%= packageTypedata[i].id%>">
    <img
      src="<%= packageTypedata[i].image%>"
      class="h-[100.87px] md:h-[116.66px] lg:h-[167.99px] w-full"
    />
    <div
      class="font-medium text-xs md:text-sm lg:text-lg text-center py-[12px] md:py-[17.85] lg:py-[16.52]"
    >
      <%= packageTypedata[i].name%>
    </div></a
  >
</div>
