<div
  class="bg-cover bg-center h-full"
  style="background-image: url('<%=  carouseldata[0].backgroundImage%>')"
>
  <div
    class="bg-black bg-opacity-50 lg:bg-opacity-25 h-full text-white lg:py-24 px-5 lg:mx-auto lg:px-0 object-fill flex py-auto"
  >
    <div
      class="max-w-[1200px] mx-auto md:w-full lg:px-10 xl:px-10 flex items-center"
    >
      <div class="py-auto justify-start w-full">
        <p class="font-normal lg:text-xl text-sm text-uppercase text-[#FCFCFC]">
          <%- carouseldata[0].offer %>
        </p>
        <p
          class="lg:text-6xl antialiased text-2xl md:text-[26.2px] font-prox font-semibold lg:leading-[73px] text-[#FCFCFC] pt-2 pb-4 lg:max-w-[736px] md:max-w-[400px]"
        >
          <%- carouseldata[0].heading %>
        </p>
        <p class="lg:text-2xl mb-6 leading-none text-[#FCFCFC]">
          <%- carouseldata[0].firstheading %>
        </p>
        <button
          onclick="location.href ='/package'"
          class="bg-gradient-to-r from-[#3baf3d] to-[#5DC234] border-none text-[#FCFCFC] rounded-lg w-[122px] md:w-[133px] h-[36px] flex justify-center items-center text-[12px] md:text-[13px] lg:text-[14px] lg:h-[42px] lg:w-[143px]"
        >
          Shop Now &nbsp;<img
            src="../../public/Images/arrow.svg"
            class="w-[12.3px] h-[12.3px] md:w-[13.4px] md:h-[13.4px]"
          />
        </button>
      </div>
    </div>
  </div>
</div>
