<div
  class="bg-cover bg-center h-full"
  style="background-image: url('<%= carouseldata[1].backgroundImage%>')"
>
  <div
    class="h-full text-white justify-center lg:py-24 px-5 lg:mx-auto lg:px-0 object-fill flex flex-col py-auto"
  >
    <div class="max-w-[1200px] mx-auto xl:pl-[493px] lg:pl-[301px]">
      <p class="font-normal lg:text-xl text-sm uppercase text-[#9ABF00]">
        <%= carouseldata[1].firstheading %>
      </p>
      <p
        class="lg:text-6xl text-2xl font-prox md:text-3xl font-semibold lg:leading-[73px] text-[#EC922D] pt-2 pb-4 lg:pt-3 lg:pb-8 md:max-w-[356px] max-w-[325px] lg:max-w-[707px]"
      >
        <%= carouseldata[1].heading %>
      </p>

      <button
        onclick="location.href ='singlepackage'"
        class="bg-gradient-to-r from-[#3baf3d] to-[#5DC234] border-none text-[#FCFCFC] rounded-lg w-[122px] md:w-[133px] h-[36px] flex justify-center items-center text-[12px] md:text-[13px] lg:text-[14px] lg:h-[42px] lg:w-[143px]"
      >
        Shop Now &nbsp;<img
          src="../../public/Images/arrow.svg"
          class="w-[12.3px] h-[12.3px] md:w-[13.4px] md:h-[13.4px]"
        />
      </button>
    </div>
  </div>
</div>
