<div
  class="bg-cover bg-top text-white md:pt-[99px] px-5 lg:px-0 pt-[73px] lg:py-24 h-full object-fill gap-y-[30px]"
  style="background-image: url(../public/Images/homepage/img2.svg)"
>
  <div class="max-w-[1200px] mx-auto xl:pl-[493px] lg:pl-[301px]">
    <div class="">
      <p class="font-normal lg:text-xl text-sm uppercase text-[#9ABF00]">
        Fresh Deals
      </p>
      <p
        class="lg:text-6xl text-2xl md:text-3xl font-semibold lg:leading-[73px] text-[#EC922D] pt-2 pb-4 lg:pt-3 lg:pb-8 md:max-w-[356px] max-w-[325px] lg:max-w-[707px]"
      >
        Get Fresh and Orangic Products With Just 1 Tap
      </p>

      <button
        href="#"
        class="bg-gradient-to-r from-[#3baf3d] to-[#5DC234] border-none text-[#FCFCFC] rounded-lg w-[135px] h-[36px] flex justify-center items-center lg:h-[42px]"
      >
        Shop Now &nbsp;<img src="../../public/Images/arrow.svg" />
      </button>
    </div>
  </div>
</div>
