<div class="overflow-auto lg:overflow-visible">
  <div class="font-semibold pt-[20px]">Price</div>

  <%- include ("./test") %>

  <div class="justify-between flex pt-[20px] items-center">
    <button
      class="flex items-center justify-between w-full"
      onclick="filterdropdown(1)"
    >
      <div class="font-semibold">Premium Subscription</div>

      <img
        src="../public/Images/accordion-active.svg "
        class="accordionbutton1 w-[13px]"
        id=""
      />
    </button>
  </div>
  <div class="flex flex-col dropdown1" id="">
    <div class="pt-[16px]">
      <button
        class="flex items-center active::bg-green-600"
        onclick="checkf(1)"
      >
        <div class="w-[14px] h-[14px] border-[1px] rounded-[2px]">
          <span
            id=""
            class="h-full w-full items-center check1"
            style="display: none"
            >&check;</span
          >
        </div>
        &nbsp;&nbsp;
        <div>Platinunm</div>
      </button>
    </div>
    <div class="pt-[16px]">
      <button
        class="flex items-center active::bg-green-600"
        onclick="checkf(2)"
      >
        <div class="w-[14px] h-[14px] border-[1px] rounded-[2px]">
          <span
            id=""
            class="h-full w-full items-center check2"
            style="display: none"
            >&check;</span
          >
        </div>
        &nbsp;&nbsp;
        <div>Gold</div>
      </button>
    </div>
    <div class="pt-[16px]">
      <button
        class="flex items-center active::bg-green-600"
        onclick="checkf(3)"
      >
        <div class="w-[14px] h-[14px] border-[1px] rounded-[2px]">
          <span
            id=""
            class="h-full w-full items-center check3"
            style="display: none"
            >&check;</span
          >
        </div>
        &nbsp;&nbsp;
        <div>Silver</div>
      </button>
    </div>
  </div>
  <div class="justify-between flex pt-[20px] items-center">
    <button
      class="flex items-center justify-between w-full"
      onclick="filterdropdown(5)"
    >
      <div class="font-semibold">Rating</div>

      <img
        src="../public/Images/accordion-active.svg "
        class="w-[13px] accordionbutton5"
        id=""
      />
    </button>
  </div>
  <div id="" class="pt-[16px] flex gap-x-1 dropdown5">
    <img src="../public/Images/Vector.png" class="w-[17px] h-[17px]" />
    <img src="../public/Images/Vector.png" class="w-[17px] h-[17px]" />
    <img src="../public/Images/Vector.png" class="w-[17px] h-[17px]" />
    <img src="../public/Images/Vector.png" class="w-[17px] h-[17px]" />
    <img src="../public/Images/Vector.png" class="w-[17px] h-[17px]" />
  </div>
  <div class="justify-between flex pt-[20px] items-center">
    <button
      class="flex items-center justify-between w-full"
      onclick="filterdropdown(2)"
    >
      <div class="font-semibold">Familiy Size</div>

      <img
        src="../public/Images/accordion-active.svg "
        class="w-[13px] accordionbutton2"
        id=""
      />
    </button>
  </div>
  <div class="flex flex-col dropdown2" id=""></div>
  <div class="justify-between flex pt-[20px] items-center">
    <button
      class="flex items-center justify-between w-full"
      onclick="filterdropdown(3)"
    >
      <div class="font-semibold">Product Categories</div>

      <img
        src="../public/Images/accordion-active.svg "
        class="w-[13px] accordionbutton3"
        id=""
      />
    </button>
  </div>
  <div class="flex flex-col dropdown3" id="">
    <div class="pt-[16px]">
      <button
        class="flex items-center active::bg-green-600"
        onclick="checkf(14)"
      >
        <div class="w-[14px] h-[14px] border-[1px] rounded-[2px]">
          <span
            id=""
            class="h-full w-full items-center check14"
            style="display: none"
            >&check;</span
          >
        </div>
        &nbsp;&nbsp;
        <div>Non-Veg Subscription</div>
      </button>
    </div>
    <div class="pt-[16px]">
      <button
        class="flex items-center active::bg-green-600"
        onclick="checkf(15)"
      >
        <div class="w-[14px] h-[14px] border-[1px] rounded-[2px]">
          <span
            id=""
            class="h-full w-full items-center check15"
            style="display: none"
            >&check;</span
          >
        </div>
        &nbsp;&nbsp;
        <div>Veg Subscription</div>
      </button>
    </div>
  </div>
  <div class="justify-between flex pt-[20px] items-center">
    <button
      class="flex items-center justify-between w-full"
      onclick="filterdropdown(4)"
    >
      <div class="font-semibold">Services</div>

      <img
        src="../public/Images/accordion-active.svg "
        class="w-[13px] accordionbutton4"
        id=""
      />
    </button>
  </div>
  <div class="flex flex-col pb-[16px] dropdown4" id="">
    <div class="pt-[16px]">
      <button
        class="flex items-center active::bg-green-600"
        onclick="checkf(16)"
      >
        <div class="w-[14px] h-[14px] border-[1px] rounded-[2px]">
          <span
            id=""
            class="h-full w-full items-center check16"
            style="display: none"
            >&check;</span
          >
        </div>
        &nbsp;&nbsp;
        <div>Cash</div>
      </button>
    </div>
    <div class="pt-[16px]">
      <button
        class="flex items-center active::bg-green-600"
        onclick="checkf(17)"
      >
        <div class="w-[14px] h-[14px] border-[1px] rounded-[2px]">
          <span
            id=""
            class="h-full w-full items-center check17"
            style="display: none"
            >&check;</span
          >
        </div>
        &nbsp;&nbsp;
        <div>Free Shipping</div>
      </button>
    </div>
    <div class="pt-[16px]">
      <button
        class="flex items-center active::bg-green-600"
        onclick="checkf(18)"
      >
        <div class="w-[14px] h-[14px] border-[1px] rounded-[2px]">
          <span
            id=""
            class="h-full w-full items-center check18"
            style="display: none"
            >&check;</span
          >
        </div>
        &nbsp;&nbsp;
        <div>Both</div>
      </button>
    </div>
  </div>
</div>
