<!-- <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> -->

<div class="border-y-[1px] mt-[30px] lg:mt-[80px]">
  <div class="max-w-[1200px] mx-auto pt-7 pb-7 hidden lg:block lg:px-10">
    <div class="lg:flex flex-row">
      <div class="w-2/4">
        <div>
          <img src="../../public/Images/logof.svg" />
        </div>
        <div class="font-normal max-w-[450px] text-base py-4">
          A social commerce platform where all your household needs are
          available. A social commerce platform where all your household needs
          are available.
        </div>
        <div class="flex gap-x-7">
          <img src="../../public/Images/facebook.svg" />
          <img src="../../public/Images/instagram.svg" />
          <img src="../../public/Images/LinkedIn.svg" />
        </div>
      </div>
      <div class="w-1/4">
        <div class="flex flex-col gap-y-4">
          <p class="font-semibold text-base">Quick Links</p>
          <ul class="text-base font-normal list-none space-y-4">
            <li><a href="subscription">Subscription Basket</a></li>
            <li>Community Services</li>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            <li>FAQs</li>
          </ul>
        </div>
      </div>
      <div class="w-1/4">
        <div class="flex flex-col gap-y-4">
          <p class="font-semibold text-base">Contact Information</p>
          <ul class="text-base font-normal list-none space-y-4">
            <a class="flex gap-x-4" href="https://www.google.com/maps">
              <img src="../../public/Images/home.svg" />Jhamsikhel, Lalitpur
            </a>
            <a class="flex gap-x-4" href="tel:+977 01-5910819">
              <img src="../../public/Images/phone.svg" />+977 01-5910819
            </a>
            <a class="flex gap-x-4" href="mailto:name@gmail.com">
              <img src="../../public/Images/Mail.svg" /> info@household.com.np
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="block lg:hidden border-b-[1px]">
    <div
      class="flex font-semibold flex-row text-xs md:text-sm p-[20px] md:px-[42px]"
    >
      <div class="w-1/2">
        <button onclick="footer1()" id="linkh">Quick Links</button>
      </div>
      <div class="w-1/2">
        <button onclick="footer2()" id="contacth">Contact Information</button>
      </div>
    </div>
  </div>
  <div
    id="links"
    class="grid md:grid-cols-4 grid-cols-2 pl-[20px] md:px-[42px] md:gap-y-7 gap-y-5 py-5 md:py-7 lg:hidden text-xs md:text-sm"
  >
    <div><a href="subscription">Subscription Basket</a></div>
    <div>Community Services</div>
    <div>Terms & Conditions</div>
    <div>Privacy Policy</div>
    <div>FAQs</div>
  </div>
  <div
    id="contact"
    class="hidden md:grid-cols-3 grid-cols-2 pl-[20px] md:px-[42px] md:gap-y-7 gap-y-5 py-5 md:py-7 lg:hidden text-xs md:text-sm"
  >
    <a class="flex" href="https://www.google.com/maps">
      <img src="../../public/Images/home.svg" />&nbsp;&nbsp;Jhamsikhel, Lalitpur
    </a>
    <a class="flex" href="tel:+977 01-5910819">
      <img
        src="../../public/Images/phone.svg"
        class="max-w-[17px] max-h-[24px]"
      />&nbsp;&nbsp;+977 01-5910819
    </a>
    <a href="mailto:name@gmail.com" class="flex">
      <img src="../../public/Images/Mail.svg" />&nbsp;&nbsp;
      info@household.com.np
    </a>
  </div>
</div>

<div
  class="mx-auto flex flex-col justify-center text-center my-6 gap-y-4 font-prox text-xs lg:text-base"
>
  <div class="flex justify-center flex-col md:flex-row">
    Copyright © 2022 Household
    <span class="hidden md:block"> &nbsp;|</span> &nbsp;
    <div>All Rights Reserved.</div>
  </div>
  <div>
    Developed By
    <a href="https://www.prabidhilabs.com/" class="text-[#8D251F]"
      >Prabidhi Labs</a
    >
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script>
  var swiper = new Swiper(".mySwiper", {
    pagination: {
      el: ".swiper-pagination",
      type: "bullets",
      clickable: true,
    },
    autoplay: {
      delay: 5000,
    },
  });
</script>

<script src="../../public/JS/familypackageselection.js"></script>

<script src="../../public/JS/range.js"></script>
<script src="../public/JS/script.js"></script>
<script src="../../public/JS/popup.js"></script>
<script src="../../public/JS/vendor.js"></script>
<script src="../../public/JS/product_detail.js"></script>

<script src="../../public/JS/js-image-zoom.js"></script>
<script src="../../public/JS/Quantitydropdown.js"></script>

<script src="../../public/JS/slider.js"></script>
<script src="../../public/JS/changeImage.js"></script>

<!-- filters -->
<script src="../../public/JS/productfilter.js"></script>
<script src="../../public/JS/quantity.js"></script>
<script src="../../public/JS/Payments.js"></script>
<script src="../../public/JS/rating.js"></script>

<script src="../../public/JS/test.js"></script>

<!-- Dashboard -->
<script src="../../public/JS/Dashboard.js"></script>

<!-- SignUp Form -->
<script src="../../public/API/signupform.js"></script>

<!-- Search -->
<script src="../../public/API/search.js"></script>

<!-- Order product from Customer -->
<script src="../../public/API/productpost.js"></script>

<!-- Whole package add to cart -->
<script src="../../public/API/packageCart.js"></script>

<script src="../../public/API/addFilters.js"></script>
<script src="../../public/API/addReview.js"></script>

<script src="../../public/API/cartCount.js"></script>
<script src="../../public/API/popUpFetch.js"></script>

<!-- Admin APIs -->
<script src="../../public/API/adminAPI/product.js"></script>
<!-- Shipping Status Change -->
<script src="../../public/API/adminAPI/shipping.js"></script>
<!-- Category -->
<script src="../../public/API/adminAPI/category.js"></script>
<!-- Alerts -->
<script src="../../public/API/adminAPI/alert.js"></script>
<!-- Sorting -->
<script src="../../public/API/adminAPI/sorting.js"></script>

<!-- User -->
<script src="../../public/API/adminAPI/user.js"></script>

<!-- Rich Text Editor -->
<script src="https://cdn.tiny.cloud/1/6zhrdymtpt3wuna4o2pajdmwhumsair48r84uufxlnl14sjz/tinymce/5/tinymce.min.js"></script>

<script>
  tinymce.init({
    selector: "#descriptionTextArea , #longDescriptionTextArea",
    height: 200, // Set the height of the editor
    plugins:
      "advlist autolink lists link image charmap print preview anchor textcolor",
    toolbar:
      "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor",
    mode: "exact", // Use "exact" for Standards Mode (default)
  });
</script>
