<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Household</title>
    <!-- NAVIGATION -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script
      src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js"
      type="application/javascript"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>
    <link rel="stylesheet" href="../../public/header.css" />
    <link rel="stylesheet" href="../public/main.css" />
    <link rel="stylesheet" href="../../public/range.css" />
    <link rel="stylesheet" href="../../public/Quantitydropdown.css" />
    <link rel="stylesheet" href="../../public/test.css" />
  </head>

  <body class="">
    <div class="lg:shadow-[0_2px_2px_rgba(0,0,0,0.25)] relative">
      <div
        class="fixed min-w-full h-[103px] justify-center block z-50 items-center lg:shadow-[0_2px_2px_rgba(0,0,0,0.25)] bg-white"
      >
        <div
          class="mx-auto max-w-[1200px] px-5 lg:px-10 justify-between w-auto flex flex-row items-center lg:z-50 h-[103px] md:pb-[30px] pt-[30px] pb-[20px]"
        >
          <div class="lg:block hidden">
            <a href="/"><img src="../../public/Images/logo.svg" /></a>
          </div>
          <div class="lg:hidden">
            <a href="/"
              ><img
                src="../../public/Images/logo_mobile.svg"
                class="md:w-[85.6px] md:h-[85px]"
            /></a>
          </div>
          <div class="lg:block hidden">
            <ul
              class="justify-content-center nav-font bg-primary flex flex-row gap-[30px] text-sm font-medium"
            >
              <li class="nav-item">
                <a href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="aboutus">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="subscription">Subscription Basket</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="products">Shop</a>
              </li>
            </ul>
          </div>

          <div class="lg:block hidden">
            <ul class="list-none flex flex-row gap-[30px]">
              <li>
                <a href="javascript:search()" id="searchbutton"
                  ><img src="../../public/Images/search.svg" />
                </a>
                <input
                  class="w-[200px] border-[1px] rounded-[5px] h-[24px] pl-5"
                  type="text"
                  id="searchheader"
                  placeholder="Search"
                  style="display: none"
                />
              </li>
              <li>
                <a href="Sign_In"
                  ><img
                    src="../../public/Images/user.svg"
                    style="width: 24px; height: 20px"
                /></a>
              </li>
              <li>
                <a href="Cart"><img src="../../public/Images/cart.svg" /> </a>
              </li>
            </ul>
          </div>
          <div class="lg:hidden block">
            <main id="main" class="py-5 pr-0">
              <span
                onclick="openMenu()"
                class="text-3xl font-semibold cursor-pointer"
                ><img
                  id="navbutton"
                  src="../../public/Images/Navbutton.svg"
                  class=""
              /></span>
            </main>
          </div>
        </div>
      </div>
      <div
        id="menu1"
        class="bg-opacity-50 w-[100%] h-screen fixed -z-10"
        onclick="openMenu2()"
      ></div>

      <div
        id="nav"
        class="fixed right-0 top-[103px] h-full bg-white overflow-scroll w-[276px] md:w-[363px] font-medium justify-between -z-10 border-t-0"
      >
        <asdie
          id="menu"
          class="hidden flex-col relative duration-700 w-full justify-between"
        >
          <div class="flex flex-col px-5 py-4 text-sm gap-y-9 pb-[200px]">
            <a href="/">Home</a>
            <a href="aboutus">About Us</a>
            <a href="subscription">Subscription Package</a>
            <a href="products">Shop</a>
            <a href="sign_in" class="justify-between flex">
             <div> My Profile</div>
             <div class=></div>
            </a>
            <a href="sign_in" class="pl-[4px]">My Profile</a>

            <a href="cart">My Cart</a>
          </div>
          <div
            class="flex flex-row fixed px-5 justify-between space-x-5 w-[276px] md:w-[363px] bg-white border-gray-100 pb-5 bottom-0 border-t-2 pt-5 text-xs font-medium"
          >
            <button
              class="text-[#3BAF3D] border-[#3BAF3D] border-solid border-[1px] rounded-lg w-[113px] h-[32px]"
              onclick="location.href = 'Sign_Up'"
            >
              Sign Up
            </button>
            <button
              class="bg-[#3BAF3D] border-none text-[#FCFCFC] rounded-lg w-[113px] h-[32px]"
              onclick="location.href = 'Sign_In'"
            >
              Login
            </button>
          </div>
        </asdie>
      </div>
      <div
        id="filterbg"
        class="bg-opacity-50 w-[100%] top-[103px] fixed h-[1000px] -z-10"
        onclick="filterbgb()"
      ></div>
      <div
        id="filtersideid"
        class="absolute right-0 w-[276px] h-screen md:w-[363px] bg-white font-medium justify-between -z-10 border-t-0"
      >
        <div
          id="filtersidebarid"
          class="hidden flex-col absolute top-[103px] justify-between duration-700 w-full"
        >
          <div class="px-[20px] pt-[20px] overflow-auto pb-[150px]">
            <div class="justify-between flex">
              <div class="text-xs font-medium">Filters</div>
              <button class="" onclick="filtersidebarf()">
                <img src="../public/Images/Cross.svg" />
              </button>
            </div>
            <%- include ("./filter") %>
          </div>
          <div
            class="flex lg:hidden h-[44px] fixed w-[276px] md:w-[376px] text-[#FFFFFF] bottom-0"
          >
            <button class="bg-gradient-to-r from-[#3baf3d] to-[#5DC234] w-1/2">
              Reset
            </button>
            <button class="bg-gradient-to-r from-[#3baf3d] to-[#5DC234] w-1/2">
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="h-[103px]"></div>
  </body>
  <div class="flex">
    <div id="logout" style="display: none"><%- include ("./logout") %></div>
  </div>
  <div class="flex">
    <div id="deleteitem" style="display: none"><%- include ("./delete") %></div>
  </div>
</html>
