<div class="grid place-items-center fixed w-full h-screen top-0 bottom-0 z-40">
  <a href="javascript:popupf();" onmouseover="popupf(0)">
    <div
      class="z-40 top-0 left-0 absolute bg-black bg-opacity-10 h-full w-full"
    ></div
  ></a>
  <div
    class="rounded-[5px] shadow-[0px_2px_2px_rgba(0,0,0,0.25)] flex justify-center p-[30px] items-center absolute bg-white z-40"
  >
    <div
      class="rounded-[3px] border-[1px] w-[460px] h-[378px] items-center flex justify-center"
    >
      <img src="../public/Images/homepage/PopupImage.png" class="h-full" />
    </div>
    <div class="pl-[27px]">
      <div class="pl-[15px]">
        <div class="text-[24px] font-medium">Dinner Package</div>
        <div class="pt-[24px] text-[18px] max-w-[344px]">
          Dinner Package is a healthy package is a healthy package and is full
          of nutritions.
        </div>
        <div class="text-[#32aa00] text-base flex items-center pt-[24px]">
          Rs.<span class="text-lg font-bold text-[#32aa00]"
            >&nbsp;20,000.00</span
          >
        </div>
        <div class="flex items-center left-0 w-auto gap-x-[24px] pt-[24px]">
          <div class="text-[16px]">Quantity</div>
          <div class="flex items-center font-roboto">
            <button onclick="decrease(0)" class="h-[10px]">
              <img src="../../public/Images/substract.svg" />
            </button>
            &nbsp; &nbsp;

            <input
              type="text"
              name="quantity"
              value="1"
              maxlength="2"
              max="10"
              size="1"
              class="text-center items-center text-[14px] quantity w-[22.4px] h-[22.4px] lg:w-[42px] lg:h-[42px] lg:border-[1px] border-[0.6px] rounded-[3px]"
            />
            &nbsp; &nbsp;

            <button onclick="increase(0)" class="w-[10px]">
              <img src="../../public/Images/add.svg" />
            </button>
          </div>
        </div>
        <div class="flex gap-x-[20px] pt-[40px]">
          <button
            class="w-[200px] h-[46px] rounded-[8px] items-center flex justify-center border-[1px] border-[#3baf3d] text-[#3baf3d] font-medium"
            onclick="addedtocart(this)"
          >
            <div class="my-auto text-[#3baf3d] flex">
              Add
              <div class="text-[#3baf3d] added" style="display: none">
                ed&nbsp;
              </div>
              to Cart &nbsp; <img src="../../public/Images/shopping-cart.svg" />
            </div>
          </button>
          <button
            class="w-[200px] h-[46px] rounded-[8px] items-center flex justify-center text-[#ffffff] font-medium bg-gradient-to-r from-[#3baf3d] to-[#5DC234]"
            onclick="location.href= 'singleproduct'"
          >
            View Detail &nbsp; <img src="../public/Images/arrow.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
