<% for (var i =0; i
<dataPagination.packages.length; i++ ) { %>
  <div>
    <div class="relative">
      <div
        class="rounded-[7.4px] sm:rounded-[9.6px] md:rounded-[12px] rounded-b-none sm:rounded-b-none md:rounded-b-none border-b-0 border-[1px] pb-[14px] md:pb-[17.57px] lg:pb-[24px]"
      >
        <img
          src="<%= dataPagination.packages[i].image %>"
          class="lg:pt-[13.74px] md:pt-[11.71px] pt-[9px] h-auto min-h-[113px] md:min-h-[150px] lg:min-h-[196px] rounded-lg mx-auto px-[9px] md:px-[11.71px] lg:px-[13.74px]"
        />

        <div
          class="pl-[9px] md:pl-[11.71px] lg:pl-[13.74px] pt-[9px] md:pt-[11px] lg:pt-[17px]"
        >
          <p class="font-medium text-xs md:text-base lg:text-lg">
            <%= dataPagination.packages[i].name %>
          </p>

          <p
            class="font-normal text-[10px] md:text-sm lg:text-xs text-[#32AA00]"
          >
            Rs.<span
              class="font-bold text-xs md:text-base lg:text-lg text-[#32AA00]"
              ><%= dataPagination.packages[i].price %></span
            >
          </p>
        </div>
      </div>
      <button
        class="w-full bg-gradient-to-r from-[#3baf3d] to-[#5DC234] rounded-b-[7.4px] ml-0 sm:rounded-b-[9.6px] md:rounded-b-[12px] font-medium text-[10px] sm:text-sm text-white flex flex-row justify-center h-[29px] md:h-[39px] lg:h-[47px] my-auto py-auto items-center"
        onclick="location.href = '/package/<%=dataPagination.packages[i].id%>'"
      >
        <img
          src="../public/Images/cart2.svg"
          class="h-[14px] md:h-[19.26px] lg:h-[24px]"
        />
        &nbsp;&nbsp;
        <div class="my-auto text-white tracking-[1px]">Select Option</div>
      </button>
    </div>
  </div>

  <%# will output the numbers 1-10 %> <% } %>
</dataPagination.packages.length;>
