<%- include ("./partials/header") %>

<div>
  <div class="px-5 lg:px-10 max-w-[1200px] mx-auto">
    <div
      class="text-[18px] md:text-[24px] font-medium text-center lg:pt-[60px]"
    >
      Who We Are!
    </div>
    <div class="text-[14px] text-center lg:pt-[16px] md:pt-[20px] pt-[14px]">
      Household is a social commerce platform where all your household needs are
      available. A social commerce platform where all your household needs are
      available. Platform where all your household needs are available. Platform
      where all your household needs are available. Platform where all your
      household needs are available.
    </div>
    <div
      class="gird lg:grid-cols-3 grid-cols-1 lg:gap-x-[26px] flex items-center pt-[20px] md:pt-[40px] lg:pt-[80px] justify-center"
    >
      <div class="hidden lg:block">
        <img src="../public/Images/AboutUs/img-1.png" />
      </div>
      <div class="hidden lg:block">
        <img src="../public/Images/AboutUs/img-2.png" />
      </div>

      <div class="hidden lg:block">
        <img src="../public/Images/AboutUs/img-3.png" />
      </div>
      <div class="lg:hidden hidden md:block overflow-hidden">
        <img src="../public/Images/AboutUs/img-md.png" />
      </div>
      <div class="md:hidden block overflow-hidden">
        <img src="../public/Images/AboutUs/img-mob.png" />
      </div>
    </div>
    <div
      class="rounded-[5px] border-[0.5px] shadow-md mt-[30px] lg:mt-[80px] pt-[20px] pb-[20px] lg:pt-[34px] lg:pb-[33px]"
    >
      <div class="grid grid-cols-2 md:grid-cols-4 text-center gap-y-6">
        <div>
          <div class="font-medium text-[18px] lg:text-[24px] text-[#00A6EF]">
            89K+
          </div>
          <div class="font-normal text-[#00A6EF] text-[12px] lg:text-[14px]">
            Happy Customers
          </div>
        </div>
        <div>
          <div class="font-medium text-[18px] lg:text-[24px] text-[#00A6EF]">
            250K+
          </div>
          <div class="font-normal text-[#00A6EF] text-[12px] lg:text-[14px]">
            Order Shipped
          </div>
        </div>
        <div>
          <div class="font-medium text-[18px] lg:text-[24px] text-[#00A6EF]">
            98K+
          </div>
          <div class="font-normal text-[#00A6EF] text-[12px] lg:text-[14px]">
            Partners & Customers
          </div>
        </div>
        <div>
          <div class="font-medium text-[18px] lg:text-[24px] text-[#00A6EF]">
            69 K +
          </div>
          <div class="font-normal text-[#00A6EF] text-[12px] lg:text-[14px]">
            Customer Review
          </div>
        </div>
      </div>
    </div>
    <div class="lg:pt-[80px] pt-[30px] md:pt-[40px]">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-[30px]">
        <div class="hidden md:block">
          <img src="../public/Images/AboutUs/People.png" />
        </div>
        <div class="flex flex-col">
          <div>
            <div class="font-medium text-[18px] lg:text-[24px]">
              Our Mission
            </div>
            <ul
              class="lg:pt-[24px] md:pt-[20px] pt-[14px] text-[12px] md:text-[14px] lg:pl-[17px] pl-5 list-disc md:space-y-[24px] space-y-[15px]"
            >
              <li>To make purchase of household product easier.</li>
              <li>To provide good quality products and services.</li>
              <li>To supply amazing household services.</li>
              <li>To help our customer receive good quality products.</li>
            </ul>
            <div
              class="font-medium hidden lg:block text-[18px] lg:text-[24px] pt-[30px]"
            >
              Our Vision
            </div>
            <ul
              class="lg:pt-[24px] hidden lg:block md:pt-[20px] pt-[14px] text-[12px] md:text-[14px] lg:pl-[17px] pl-[5px] md:pl-[0px] list-disc md:space-y-[24px] space-y-[15px]"
            >
              <li>
                We plan to provide amazing household products and services all
                over Nepal.
              </li>
              <li>
                We plan to make our products and services affordable. We plan to
                provide amazing household products and services all over Nepal.
              </li>
              <li>We will make the purchase of Household products easier.</li>
              <li>We will provide great quality products.</li>
            </ul>
          </div>
        </div>
        <div class="block md:hidden">
          <img src="../public/Images/AboutUs/People.png" />
        </div>
        <div class="flex flex-col lg:hidden">
          <div class="font-medium text-[18px] lg:text-[24px] pt-[30px]">
            Our Vision
          </div>
          <ul
            class="lg:pt-[24px] md:pt-[20px] pt-[14px] text-[12px] md:text-[14px] px-[15px] list-disc md:space-y-[24px] space-y-[15px]"
          >
            <li>
              We plan to provide amazing household products and services all
              over Nepal.
            </li>
            <li>
              We plan to make our products and services affordable. We plan to
              provide amazing household products and services all over Nepal.
            </li>
            <li>We will make the purchase of Household products easier.</li>
            <li>We will provide great quality products.</li>
          </ul>
        </div>
        <div class="hidden md:block lg:hidden">
          <img src="../public/Images/AboutUs/People.png" />
        </div>
      </div>
    </div>
  </div>

  <%- include ("./partials/footer") %>
</div>
