<%- include ("./partials/header") %>
<div
  class="px-5 lg:px-10 max-w-[1200px] mx-auto pt-[20px] md:mx-0 lg:mx-auto lg:pt-[55px] flex flex-col md:justify-start lg:justify-center md:max-w-[530px] lg:max-w-[1200px]"
>
  <div class="text-[10px] md:text-sm lg:text-sm font-medium">
    <span class="opacity-50"><a href="Cart">My Cart /</a> </span>&nbsp;Billing
    Details /<span class="opacity-50">
      <a href="Payments"> &nbsp;Payments</a></span
    >
  </div>
  <div
    class="flex justify-between pt-[28px] md:-pt-[29px] lg:pt-[55px] font-medium text-center"
  >
    <div class="text-lg md:text-[18px] lg:text-[24px]">Billing Details</div>
  </div>
  <div class="lg:grid grid-cols-12 lg:mt-[24px] gap-x-[16px]">
    <div class="lg:border-[1px] lg:rounded-[5px] lg:px-[30px] col-span-8">
      <form
        class="font-medium pt-[3px] md:pt-[6px] text-[12px] md:text-[14px]"
        id="Billform"
        action="Payments"
      >
        <div class="md:pt-[24px] pt-[21px] lg:pt-[20px]">Name</div>
        <input
          class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px]"
          type="text"
          name="name"
          required
        />
        <div class="md:pt-[24px] pt-[21px] lg:pt-[20px]">Country</div>
        <input
          class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px]"
          type="text"
          name="country"
          required
        />
        <div class="md:pt-[24px] pt-[21px] lg:pt-[20px]">Street Address</div>
        <input
          class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px]"
          type="text"
          name="streetAddress"
        />
        <div class="md:pt-[24px] pt-[21px] lg:pt-[20px]">Zone</div>
        <input
          class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px]"
          type="text"
          name="zone"
        />
        <div class="md:pt-[24px] pt-[21px] lg:pt-[20px]">Phone</div>
        <input
          class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px]"
          type="Phone"
          name="phone"
          required
        />
        <div class="md:pt-[24px] pt-[21px] lg:pt-[20px]">Email</div>
        <input
          class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px]"
          type="Email"
          name="email"
        />
        <button
          class="w-full h-[42px] mt-[20px] mb-[30px] hidden lg:flex rounded-[8px] text-[14px] items-center justify-center text-[#ffffff] font-medium bg-gradient-to-r from-[#3baf3d] to-[#5DC234]"
          type="submit"
        >
          Proceed &nbsp;
          <img src="../public/Images/arrow.svg" class="w-[12.3px] h-[12.3px]" />
        </button>
      </form>
    </div>
    <div
      class="hidden lg:block border-[1px] bg-[#f9f9f9] rounded-[5px] p-[30px] font-lato col-span-4"
    >
      <div class="justify-between flex">
        <div class="font-medium">Subtotal</div>
        <div class="font-semibold text-[15px] font-lato">Rs.45000</div>
      </div>
      <div class="justify-between flex pt-[16px]">
        <div class="font-medium">Shipping</div>
        <div class="font-semibold text-[15px] font-lato">Rs.200</div>
      </div>
      <div class="justify-between flex pt-[16px]">
        <div class="font-medium">Tax</div>
        <div class="font-semibold text-[15px] font-lato">Rs.100</div>
      </div>
      <div class="border-t-[1px] mt-[24px]"></div>
      <div class="justify-between flex pt-[24px]">
        <div class="font-medium">Total</div>
        <div class="font-semibold text-[15px]">
          Rs.<span class="text-[20px] font-lato">&nbsp;45,300</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="px-5 lg:px-10 max-w-[1200px] mx-auto md:mx-0 lg:mx-auto pt-[0px] flex flex-col md:justify-start lg:justify-center md:max-w-[530px] lg:max-w-[1200px]"
>
  <div
    class="flex justify-between pt-[28px] md:pt-[40px] lg:pt-[40px] font-medium text-center"
  >
    <div class="text-lg md:text-[18px] lg:text-[24px]">Order Summary</div>
  </div>
  <div class="mt-[27px] md:mt-[40px]">
    <div class="grid lg:grid-cols-2 gap-x-[30px]">
      <%- include ("./partials/Billingitems") %>
    </div>
  </div>
</div>
<div class="mb-[210px] md:mb-[300px] lg:mb-0"></div>

<div
  class="h-[200px] md:h-[249px] w-full fixed bottom-0 bg-white px-5 pt-[19px] md:pt-[16px] border-t-[1px] block lg:hidden"
>
  <div class="justify-between flex">
    <div class="font-medium md:text-[14px] text-[12px]">Subtotal</div>
    <div class="font-medium md:text-[14px] text-[12px]">Rs.45000</div>
  </div>
  <div class="justify-between flex pt-[8px] md:pt-[16px]">
    <div class="font-medium md:text-[14px] text-[12px]">Shipping</div>
    <div class="font-medium md:text-[14px] text-[12px]">Rs.200</div>
  </div>
  <div class="justify-between flex pt-[8px] md:pt-[16px]">
    <div class="font-medium md:text-[14px] text-[12px]">Tax</div>
    <div class="font-medium md:text-[14px] text-[12px]">Rs.100</div>
  </div>
  <div class="border-t-[1px] mt-[15px] md:mt-[16px] pt-[11px] md:pt-[22px]">
    <div class="justify-between flex pt-[8px] md:pt-[16px]">
      <div class="font-medium md:text-[14px] text-[12px]">Tax</div>
      <div class="font-medium md:text-[14px] text-[12px]">Rs.100</div>
    </div>
  </div>

  <div class="justify-between flex pt-[10px] md:pt-[17px] gap-x-[10px]">
    <div
      class="font-medium text-[#00a6ef] flex text-[10px] md:text-[12px] items-center"
    >
      <button class="flex items-center" onclick="location.href = 'products'">
        <img
          src="../public/Images/accordion-blue.svg"
          class="rotate-180 w-[4px] h-[7px]"
        />&nbsp; Continue Shopping
      </button>
    </div>
    <button
      class="w-[122px] h-[32px] rounded-[8px] text-[12px] items-center flex justify-center text-[#ffffff] font-medium bg-gradient-to-r from-[#3baf3d] to-[#5DC234]"
      form="Billform"
      type="submit"
    >
      Checkout &nbsp;
      <img src="../public/Images/arrow.svg" class="w-[12.3px] h-[12.3px]" />
    </button>
  </div>
</div>

<div class="hidden lg:block">
  <div
    class="mx-auto flex flex-col justify-center text-center my-6 gap-y-4 font-prox text-xs lg:text-base border-t-[1px] pt-[24px]"
  >
    <div class="flex justify-center flex-col md:flex-row">
      Copyright © 2022 Household
      <span class="hidden md:block"> &nbsp;|</span> &nbsp;
      <div>All Rights Reserved.</div>
    </div>
    <div>
      Developed By
      <a href="https://www.prabidhilabs.com/" class="text-[#8D251F]"
        >Prabidhi Labs</a
      >
    </div>
  </div>
</div>
<div class="hidden"><%- include ("./partials/footer") %></div>
<div class="hidden lg:block"><%- include ("./partials/footer") %></div>
