<%- include ("./partials/header") %>
<div class="px-5 lg:px-10 max-w-[1200px] mx-auto orderconfirmation">
  <div
    class="lg:pt-[80px] font-medium lg:text-[15px] text-[12px] md:text-[14px] font-font"
  >
    Thanks Sita!
  </div>
  <div
    class="pt-[9px] md:pt-[10px] font-semibold md:text-[16px] lg:text-[18px] font-font"
  >
    Your order is confirmed.
  </div>
  <div
    class="border-[1px] rounded-[5px] grid grid-cols-1 md:grid-cols-12 md:mt-[30px] mt-[20px]"
  >
    <div
      class="lg:col-span-5 md:col-span-6 pl-[22px] md:pl-[12px] lg:pl-[30px] md:border-r-[1px] lg:border-r-0 bg-green-400"
    >
      <div class="lg:my-[21px] pb-[24px]">
        <div
          class="text-[12px] md:text-[14px] lg:text-[15px] pt-[18px] font-semibold md:pt-[20px] lg:pt-[9px]"
        >
          Customer Details
        </div>
        <div class="text-[12px] md:text-[14px]">
          <div
            class="grid grid-cols-2 lg:grid-cols-5 pt-[27px] md:pt-[24px] font-medium"
          >
            <div class="lg:col-span-2">Name</div>
            <div class="lg:col-span-3">:Sita Nakarmi</div>
          </div>
          <div
            class="grid grid-cols-2 lg:grid-cols-5 pt-[27px] md:pt-[24px] font-medium"
          >
            <div class="lg:col-span-2">Email</div>
            <div class="lg:col-span-3">:site123@gmail.com</div>
          </div>
          <div
            class="grid grid-cols-2 lg:grid-cols-5 pt-[27px] md:pt-[24px] font-medium"
          >
            <div class="lg:col-span-2">Contact no.</div>
            <div class="lg:col-span-3">:+977 9878987898</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="lg:col-span-7 md:col-span-6 flex flex-col lg:pl-[0px] lg:justify-center lg:ml-[50px] border-t-[1px] md:border-t-0"
    >
      <div
        class="pl-[22px] lg:pl-[30px] lg:border-l-[1px] lg:my-[21px] flex flex-col lg:justify-center lg:border-r-0"
      >
        <div
          class="text-[12px] md:text-[14px] lg:text-[15px] pt-[18px] font-semibold md:pt-[20px] lg:pt-[9px]"
        >
          Delivery Details
        </div>
        <div class="text-[12px] md:text-[14px]">
          <div
            class="grid grid-cols-2 lg:grid-cols-5 pt-[27px] md:pt-[24px] font-medium"
          >
            <div class="lg:col-span-2">Shipping</div>
            <div class="lg:col-span-3">:DHL</div>
          </div>
          <div
            class="grid grid-cols-2 lg:grid-cols-5 pt-[27px] md:pt-[24px] font-medium"
          >
            <div class="lg:col-span-2">Status</div>
            <div class="lg:col-span-3">:Processing</div>
          </div>
          <div
            class="grid grid-cols-2 lg:grid-cols-5 pt-[27px] md:pt-[24px] font-medium"
          >
            <div class="lg:col-span-2">Deliver to</div>
            <div class="lg:col-span-3">:Lazimpat, KTM</div>
          </div>
          <div
            class="grid grid-cols-2 lg:grid-cols-5 pt-[27px] md:pt-[24px] font-medium"
          >
            <div class="lg:col-span-2">Paid</div>
            <div class="lg:col-span-3">:Cash on Delivery</div>
          </div>
          <div
            class="grid grid-cols-2 lg:grid-cols-5 pt-[27px] md:pt-[24px] font-medium pb-[24px] lg:pb-0 md:pb-[21px]"
          >
            <div class="lg:col-span-2">Total</div>
            <div class="lg:col-span-3">:Rs. 30,400</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="pt-[20px] md:pt-[30px] font-semibold md:text-[16px] lg:text-[18px] font-font"
  >
    Delivery Schedule
  </div>
  <div
    class="border-[1px] rounded-[5px] grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:mt-[30px] mt-[20px] pt-[20px] md:pt-[21px] lg:pt-[30px] pl-[24px] md:pl-[23px] lg:pl-[30px]"
  >
    <div
      class="font-semibold text-[12px] md:text-[14px] lg:text-[15px] pb-[18px] md:pb-[20px] lg:pb-[24px] deliverylist"
    >
      1st Delivery
      <ul
        class="text-[12px] md:text-[14px] font-normal list-disc items-center pt-[18px] md:pt-[20px] lg:pt-[24px] pl-[20px] space-y-[19px] md:space-y-[16px]"
      >
        <li>Rice</li>
        <li>Pulse</li>
        <li>Oil</li>
        <li>Condiments</li>
        <li>Spices</li>
        <li>Meat (1kg)</li>
        <li>Bread</li>
      </ul>
    </div>
    <div
      class="font-semibold text-[12px] md:text-[14px] lg:text-[15px] pb-[18px] md:pb-[20px] lg:pb-[24px] deliverylist"
    >
      5th Delivery
      <ul
        class="text-[12px] md:text-[14px] font-normal list-disc items-center pt-[18px] md:pt-[20px] lg:pt-[24px] pl-[20px] space-y-[19px] md:space-y-[16px]"
      >
        <li>Rice</li>
        <li>Pulse</li>
        <li>Oil</li>
        <li>Condiments</li>
        <li>Spices</li>
        <li>Meat (1kg)</li>
        <li>Bread</li>
      </ul>
    </div>
    <div
      class="font-semibold text-[12px] md:text-[14px] lg:text-[15px] pb-[18px] md:pb-[20px] lg:pb-[24px] deliverylist"
    >
      3rd Delivery
      <ul
        class="text-[12px] md:text-[14px] font-normal list-disc items-center pt-[18px] md:pt-[20px] lg:pt-[24px] pl-[20px] space-y-[19px] md:space-y-[16px]"
      >
        <li>Rice</li>
        <li>Pulse</li>
        <li>Oil</li>
        <li>Condiments</li>
        <li>Spices</li>
        <li>Meat (1kg)</li>
        <li>Bread</li>
      </ul>
    </div>
    <div
      class="font-semibold text-[12px] md:text-[14px] lg:text-[15px] pb-[18px] md:pb-[20px] lg:pb-[24px] deliverylist"
    >
      4th Delivery
      <ul
        class="text-[12px] md:text-[14px] font-normal list-disc items-center pt-[18px] md:pt-[20px] lg:pt-[24px] pl-[20px] space-y-[19px] md:space-y-[16px]"
      >
        <li>Rice</li>
        <li>Pulse</li>
        <li>Oil</li>
        <li>Condiments</li>
        <li>Spices</li>
        <li>Meat (1kg)</li>
        <li>Bread</li>
      </ul>
    </div>
    <div
      class="font-semibold text-[12px] md:text-[14px] lg:text-[15px] pb-[18px] md:pb-[20px] lg:pb-[24px] deliverylist"
    >
      2nd Delivery
      <ul
        class="text-[12px] md:text-[14px] font-normal list-disc items-center pt-[18px] md:pt-[20px] lg:pt-[24px] pl-[20px] space-y-[19px] md:space-y-[16px]"
      >
        <li>Rice</li>
        <li>Pulse</li>
        <li>Oil</li>
        <li>Condiments</li>
        <li>Spices</li>
        <li>Meat (1kg)</li>
        <li>Bread</li>
      </ul>
    </div>
  </div>
  <div class="lg:hidden"></div>
  <div class="pt-[28px] md:pt-[30px] lg:pt-0">
    <div class="lg:hidden">
      <div class="text-[16px] md:text-[18px] font-bold">What's Next?</div>
      <div
        class="pt-[14px] md-pt-[23px] font-medium md:font-semibold text-[12px] md:text-[14px]"
      >
        When the items are shipped, you will receive an email. Your order will
        be delivered by 12/12/2022.
      </div>
    </div>
    <div class="flex gap-x-[20px] pt-[24px] md:pt-[30px] lg:pt-[60px]">
      <div>
        <button
          class="text-[#3BAF3D] border-[#3BAF3D] lg:text-[#2B2E33] lg:border-[#2B2E33] border-solid border-[1px] rounded-lg w-[129px] lg:w-[170px] h-[32px] text-[12px] font-medium md:h-[36px] lg:h-[42px] flex justify-center items-center"
        >
          <img src="../public/Images/Billing/print.svg" /> &nbsp; Print Invoice
        </button>
      </div>

      <div>
        <button
          class="bg-[#3BAF3D] font-font border-none text-[#FCFCFC] rounded-lg w-[152px] lg:w-[170px] h-[32px] md:h-[36px] lg:h-[42px] flex justify-center items-center text-[12px] font-medium lg:text-[14px]"
        >
          BACK TO HOME
        </button>
      </div>
      <div class="lg:block hidden pl-[50px]">
        <div class="text-[16px] md:text-[18px] font-bold">What's Next?</div>
        <div
          class="pt-[14px] md-pt-[23px] font-medium md:font-semibold text-[12px] md:text-[14px]"
        >
          When the items are shipped, you will receive an email. Your order will
          be delivered by 12/12/2022.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pb-[30px] lg:pb-0">&nbsp;</div>

<div class="hidden lg:block"><%- include ("./partials/footer") %></div>
