<%- include ("./partials/header") %>

<div class="max-w-1200 mx-auto lg:pt-[80px] px-5">
  <div class="font-medium text-center lg:text-[36px] text-[18px]">Sign Up</div>
  <form
    id="signup-form"
    method="POST"
    action="sign_up"
    class="lg:max-w-[600px] md:max-w-[490px] mx-auto lg:mt-[30px] md:mt-[28px] mt-[24px]"
  >
    <div>
      <label for="name" class="text-[12px] md:text-[14px] font-medium"
        >Full Name *</label
      >
      <input
        type="text"
        class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
        id="name"
        name="name"
        required
      />
    </div>

    <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
      <label for="Familysize" class="text-[12px] md:text-[14px] font-medium"
        >Family Size
      </label>
      <input
        type="number"
        class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
        id="Familysize"
        name="Familysize"
      />
    </div>
    <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
      <label for="email" class="text-[12px] md:text-[14px] font-medium"
        >Email *</label
      >
      <input
        type="email"
        class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
      <label for="password" class="text-[12px] md:text-[14px] font-medium"
        >Password *</label
      >
      <div class="flex justify-between">
        <input
          type="password"
          class="passwordtoggle w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
          id="password"
          name="password"
          required
        />
        <button type="button">
          <img
            src="../public/images/eye-password-show.svg"
            class="h-[28px] w-[28px] pt-[12px] passshow"
            style="display: none"
            onclick="passwordhide(0)"
          />
        </button>
        <button type="button">
          <img
            src="../public/images/eye-password-hide.svg"
            class="h-[28px] w-[28px] pt-[12px] passhide"
            style="display: block"
            onclick="passwordshow(0)"
          />
        </button>
      </div>
    </div>
    <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
      <label
        for="Confirmpassword"
        class="text-[12px] md:text-[14px] font-medium"
        >Confirm Password *</label
      >
      <div class="flex">
        <input
          type="password"
          class="passwordtoggle w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
          id="Confirmpassword"
          name="Confirmpassword"
          required
        />
        <button type="button">
          <img
            src="../public/images/eye-password-show.svg"
            class="h-[28px] w-[28px] pt-[12px] passshow"
            style="display: none"
            onclick="passwordhide(1)"
          />
        </button>
        <button type="button">
          <img
            src="../public/images/eye-password-hide.svg"
            class="h-[28px] w-[28px] pt-[12px] passhide"
            style="display: block"
            onclick="passwordshow(1)"
          />
        </button>
      </div>
    </div>

    <div class="mt-[20px] lg:mt-[24px]">
      <input
        type="submit"
        value="Sign Up"
        class="h-[32px] md:h-[36px] lg:h-[42px] bg-gradient-to-r from-[#3baf3d] to-[#5DC234] w-full text-xs md:text-sm text-white my-auto font-medium rounded-[8px]"
      />
    </div>
    <div class="mt-[20px] lg:mt-[24px] text-center">
      <span
        class="font-normal text-[12px] lg:text-[14px] underline-none text-[#2B2E33]"
        >ALready have an account?&nbsp;<a class="underline" href="Sign_In"
          >Sign In</a
        ></span
      >
    </div>
  </form>
</div>
<%- include ("./partials/footer") %>
