<%- include ("./partials/header") %>
<div
  class="grid lg:grid-cols-3 grid-cols-1 gap-y-5 lg:max-h-[921px] lg:overflow-clip"
>
  <div class="h-[378px] md:h-[429px] lg:h-full w-full relative group">
    <img
      src="../public/Images/Subscription/Veg.png"
      class="h-[378px] md:h-[429px] lg:h-full w-full object-cover"
    />
    <button
      class="absolute bg-subscription justify-start flex font-semibold pb-[30px] pl-[20px] w-full pt-[27px] md:pl-[42px] md:pb-[34px] md:pt-[33px] bottom-0 text text-[22px] md:text-[24px] text-white lg:hidden"
    >
      Veg Subscription
    </button>
    <div
      class="hidden lg:flex absolute flex-col justify-center items-center bottom-[0px] pb-[56px] text-center w-full font-semibold white text-[36px] text-white bg-gradient-to-t from-black group-hover:top-0"
    >
      Veg Subscription
      <button
        class="w-[316px] h-[42px] bg-[#00A6EF] items-center justify-center text-[14px] font-medium rounded-[8px] mt-[30px] hidden group-hover:flex"
      >
        Select Subscription &nbsp;<img src="../public/Images/arrow.svg" />
      </button>
    </div>
  </div>
  <div class="h-[378px] md:h-[429px] lg:h-full w-full relative group">
    <img
      src="../public/Images/Subscription/Non.png"
      class="h-[378px] md:h-[429px] lg:h-full w-full object-cover"
    />
    <button
      class="absolute bg-subscription justify-start flex font-semibold pb-[30px] pl-[20px] w-full pt-[27px] md:pl-[42px] md:pb-[34px] md:pt-[33px] bottom-0 text text-[22px] md:text-[24px] text-white lg:hidden"
    >
      Non-Veg Subscription
    </button>
    <div
      class="hidden lg:flex absolute flex-col justify-center items-center bottom-[0px] pb-[56px] text-center w-full font-semibold white text-[36px] text-white bg-gradient-to-t from-black group-hover:top-0"
    >
      Non-Veg Subscription
      <button
        class="w-[316px] h-[42px] bg-[#00A6EF] items-center justify-center text-[14px] font-medium rounded-[8px] mt-[30px] hidden group-hover:flex"
      >
        Select Subscription &nbsp;<img src="../public/Images/arrow.svg" />
      </button>
    </div>
  </div>
  <div
    class="h-[378px] md:h-[429px] lg:h-full w-full relative group transition transform"
  >
    <img
      src="../public/Images/Subscription/Create.png"
      class="h-[378px] md:h-[429px] lg:h-full w-full object-cover"
    />
    <button
      class="absolute bg-subscription justify-start flex font-semibold pb-[30px] pl-[20px] w-full pt-[27px] md:pl-[42px] md:pb-[34px] md:pt-[33px] bottom-0 text text-[22px] md:text-[24px] text-white lg:hidden"
    >
      Create Your Own Basket
    </button>
    <div
      class="hidden lg:flex absolute flex-col justify-center items-center bottom-0 pb-[56px] text-center w-full font-semibold white text-[36px] text-white bg-gradient-to-t from-black group-hover:top-0 transition transform duration-100"
    >
      Create Your Own Basket
      <button
        class="w-[316px] h-[42px] bg-[#00A6EF] items-center justify-center text-[14px] font-medium rounded-[8px] mt-[30px] hidden group-hover:flex transition transform"
      >
        Select Subscription &nbsp;<img src="../public/Images/arrow.svg" />
      </button>
    </div>
  </div>
</div>
<div class="hidden"><%- include ("./partials/footer") %></div>
