<div class="lg:max-h-none max-h-[700px]">
  <%- include ("./partials/header") %>
  <div class="px-5 lg:px-10 max-w-[1200px] mx-auto">
    <div
      class="pt-[105px] md:pt-[156px] lg:pt-[77px] justify-center text-center flex flex-col"
    >
      <div class="h-[219px] md:h-[325px] lg:h-[506px] flex justify-center">
        <img
          src="../public/Images/Billing/desktop.png"
          class="hidden lg:block"
        />
        <img
          src="../public/Images/Billing/tab.png"
          class="hidden lg:hidden md:block"
        />
        <img src="../public/Images/Billing/mob.png" class="block md:hidden" />
      </div>
      <div
        class="pt-[18px] md:pt-[22.24px] lg:pt-[42px] text-center font-semibold md:text-[18px] lg:text-base"
      >
        Payment Successful
      </div>
      <div class="pt-[14px] md:pt-[17px] lg:pt-[14px]">
        Your order number is <span class="font-medium">1234567890</span>. Your
        order will arive by <span class="font-medium">30/12/2022</span>.
      </div>
      <div class="pt-[22px] md:pt-[27px] lg:pt-[24px] justify-center flex">
        <button
          class="bg-[#00A6EF] text-white w-[192px] lg:w-[208px] h-[32px] md:h-[36px] lg:h-[42px] rounded-[8px] items-center flex justify-center font-medium text-[12px] lg:text-[14px]"
          onclick="location.href ='/'"
        >
          Go back to Homepage&nbsp;
          <img
            src="../public/Images/arrow.svg"
            class="lg:hidden w-[12.3px] h-[12.3px]"
          />
        </button>
      </div>
    </div>
  </div>

  <div class="lg:block hidden mb-[148px]"></div>
  <div class="hidden lg:block"><%- include ("./partials/footer") %></div>
</div>
