<div class="border-[0px] bg-gray-700">
  <button class="border-[0px] bg-red-700">
    <img src="../public/Images/Vector.png" class="w-[18.5px] h-[14.5px] star" />
  </button>
  <button>
    <img
      src="../public/Images/Vector.png"
      class="w-[14.5px] h-[14.5px] star"
    /></button
  ><button>
    <img
      src="../public/Images/Vector.png"
      class="w-[14.5px] h-[14.5px] star"
    /></button
  ><button>
    <img
      src="../public/Images/Vector.png"
      class="w-[14.5px] h-[14.5px] star"
    /></button
  ><button>
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
  </button>
</div>
