<div class="hidden"><%- include ("./partials/header") %></div>
<div>
  <button onclick="rating(0, this)" class="ratingbutton">
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
    <img
      src="../public/Images/Star-shade.svg"
      class="w-[14.5px] h-[14.5px] star-shade"
      style="display: none"
    />
  </button>
  <button onclick="rating(1, this)" class="ratingbutton">
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
    <img
      src="../public/Images/Star-shade.svg"
      class="w-[14.5px] h-[14.5px] star-shade"
      style="display: none"
    />
  </button>
  <button onclick="rating(2, this)" class="ratingbutton">
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
    <img
      src="../public/Images/Star-shade.svg"
      class="w-[14.5px] h-[14.5px] star-shade"
      style="display: none"
    />
  </button>
  <button onclick="rating(3, this)" class="ratingbutton">
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
    <img
      src="../public/Images/Star-shade.svg"
      class="w-[14.5px] h-[14.5px] star-shade"
      style="display: none"
    />
  </button>
  <button onclick="rating(4, this)" class="ratingbutton">
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
    <img
      src="../public/Images/Star-shade.svg"
      class="w-[14.5px] h-[14.5px] star-shade"
      style="display: none"
    />
  </button>
</div>
<div>
  <button onclick="rating(0, this)" class="ratingbutton">
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
    <img
      src="../public/Images/Star-shade.svg"
      class="w-[14.5px] h-[14.5px] star-shade"
      style="display: none"
    />
  </button>
  <button onclick="rating(1, this)" class="ratingbutton">
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
    <img
      src="../public/Images/Star-shade.svg"
      class="w-[14.5px] h-[14.5px] star-shade"
      style="display: none"
    />
  </button>
  <button onclick="rating(2, this)" class="ratingbutton">
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
    <img
      src="../public/Images/Star-shade.svg"
      class="w-[14.5px] h-[14.5px] star-shade"
      style="display: none"
    />
  </button>
  <button onclick="rating(3, this)" class="ratingbutton">
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
    <img
      src="../public/Images/Star-shade.svg"
      class="w-[14.5px] h-[14.5px] star-shade"
      style="display: none"
    />
  </button>
  <button onclick="rating(4, this)" class="ratingbutton">
    <img src="../public/Images/Vector.png" class="w-[14.5px] h-[14.5px] star" />
    <img
      src="../public/Images/Star-shade.svg"
      class="w-[14.5px] h-[14.5px] star-shade"
      style="display: none"
    />
  </button>
</div>
<div class="hidden"><%- include ("./partials/footer") %></div>
