<%- include ("./partials/header") %>
<div
  class="max-w-[1140px] relative h-[225px] md:h-[238px] lg:h-[298px] overflow-y-visible bg-black mx-auto object-cover z-40"
>
  <div class="h-full w-full">
    <img
      src="../public/Images/vendor/wallpaper.png"
      class="opacity-80 hidden lg:block object-cover h-full w-full absolute bottom-0"
    />
    <img
      src="../public/Images/vendor/wallpaper-mob.png"
      class="opacity-80 block md:hidden w-full h-full object-cover"
    />
    <img
      src="../public/Images/vendor/wallpaper-tab.png"
      class="opacity-80 hidden md:block lg:hidden w-full h-full object-cover"
    />
  </div>
  <div
    class="px-[20px] md:px-[42px] lg:px-[15px] absolute bottom-0 translate-y-1/2 lg:translate-y-0 lg:bottom-[15px] flex justify-center w-full lg:justify-between"
  >
    <div
      class="border-[1px] rounded-[10px] lg:rounded-none lg:border-none bg-white flex flex-col"
    >
      <div
        class="pl-[20px] pt-[20px] justify-between flex pr-[20px] pb-[20px] md:pl-[30.17px] md:pt-[30.17px] md:pr-[26.97px] md:pb-[31.03px] lg:pl-[24px] lg:pr-[24px] lg:pt-[24px] lg:pb-[24px]"
      >
        <div
          class="rounded-full overflow-hidden flex justify-center items-center relative h-[62px] w-[62px] md:h-[124.46px] md:w-[124.46px] lg:w-[99px] lg:h-[99px] bg-red-500"
        >
          sdfsd
        </div>
        <div class="pl-[21px] md:pl-[46.51px] lg:pl-[37px]">
          <div
            class="font-semibold text-[14px] md:text-[22.6px] lg:text-[18px]"
          >
            Nepal Food Supplier Pvt. Ltd.
          </div>
          <div
            class="pt-[10px] md:pt-[18.51px] lg:pt-[15px] flex gap-x-[3.52px] md:gap-x-[4.43px] lg:gap-x-[3.52px]"
          >
            <img
              src="../public/Images/Vector.png"
              class="w-[14.98px] h-[14.98px] md:w-[18.83px] md:h-[18.83px] lg:w-[14.98px] lg:h-[14.98px]"
            /><img
              src="../public/Images/Vector.png"
              class="w-[14.98px] h-[14.98px] md:w-[18.83px] md:h-[18.83px] lg:w-[14.98px] lg:h-[14.98px]"
            /><img
              src="../public/Images/Vector.png"
              class="w-[14.98px] h-[14.98px] md:w-[18.83px] md:h-[18.83px] lg:w-[14.98px] lg:h-[14.98px]"
            /><img
              src="../public/Images/Vector.png"
              class="w-[14.98px] h-[14.98px] md:w-[18.83px] md:h-[18.83px] lg:w-[14.98px] lg:h-[14.98px]"
            /><img
              src="../public/Images/Vector.png"
              class="w-[14.98px] h-[14.98px] md:w-[18.83px] md:h-[18.83px] lg:w-[14.98px] lg:h-[14.98px]"
            />
            <div
              class="pl-[11px] md:pl-[18px] lg:pl-[12px] text-[10px] md:text-[15px] lg:text-[12px] underline underline-offset-1"
            >
              Rate
            </div>
          </div>
          <div class="hidden md:flex md:pt-[18.8px] lg:pt-[15.02px]">
            <div>
              <div
                class="text-center font-semibold text-[14px] md:text-[22.6px] lg:text-[18px]"
              >
                1500
              </div>
              <div
                class="text-center text-[10px] md:text-[15px] lg:text-[12px] pt-[8px] md:pt-[4.69px] lg:pt-[4px]"
              >
                Followers
              </div>
            </div>
            <div class="md:pl-[46.67px] pl-35[px]">
              <div
                class="text-center font-semibold text-[14px] md:text-[22.6px] lg:text-[18px]"
              >
                90%
              </div>
              <div
                class="text-center text-[10px] md:text-[15px] lg:text-[12px] pt-[8px] md:pt-[4.69px] lg:pt-[4px]"
              >
                Positive Seller Ratings
              </div>
            </div>
            <div class="md:pl-[46.67px] pl-[35px]">
              <div
                class="text-center font-semibold text-[14px] md:text-[22.6px] lg:text-[18px]"
              >
                90%
              </div>
              <div
                class="text-center text-[10px] md:text-[15px] lg:text-[12px] pt-[8px] md:pt-[4.69px] lg:pt-[4px]"
              >
                Positive Seller Ratings
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex md:hidden md:pt-[18.8px] lg:pt-[15.02px] pl-[20px] pb-[20px] justify-center"
      >
        <div>
          <div
            class="text-center font-semibold text-[14px] md:text-[22.6px] lg:text-[18px]"
          >
            1500
          </div>
          <div
            class="text-center text-[10px] md:text-[15px] lg:text-[12px] pt-[8px] md:pt-[4.69px] lg:pt-[4px]"
          >
            Followers
          </div>
        </div>
        <div class="md:pl-[46.67px] pl-[35px]">
          <div
            class="text-center font-semibold text-[14px] md:text-[22.6px] lg:text-[18px]"
          >
            90%
          </div>
          <div
            class="text-center text-[10px] md:text-[15px] lg:text-[12px] pt-[8px] md:pt-[4.69px] lg:pt-[4px]"
          >
            Positive Seller Ratings
          </div>
        </div>
        <div class="md:pl-[46.67px] pl-[35px]">
          <div
            class="text-center font-semibold text-[14px] md:text-[22.6px] lg:text-[18px]"
          >
            90%
          </div>
          <div
            class="text-center text-[10px] md:text-[15px] lg:text-[12px] pt-[8px] md:pt-[4.69px] lg:pt-[4px]"
          >
            Ship on Time
          </div>
        </div>
      </div>
    </div>
    <button
      class="hidden ml- lg:flex bg-white h-[48px] w-[127px] justify-center items-center bottom-[15px] absolute right-[15px]"
    >
      <div class="text-[16px] font-medium">FOLLOW&nbsp;</div>
      <img src="../public/images/user.svg" />&nbsp;
      <img src="../public/Images/add.svg" class="w-[10px] h-[10px]" />
    </button>
  </div>
</div>
<div class="mt-[67px] md:mt-[98.11px] bg-red-700">&nbsp;</div>
<div
  class="max-w-[1200px] mx-auto px-5 lg:px-[40px] mt-[20px] md:mt-[30px] lg:mt-[60px]"
>
  <div
    class="lg:hidden w-full border-[1px] flex h-[32px] md:h-[36px] rounded-[5px] pl-[6px] items-center"
  >
    <img src="../public/Images/search.svg" class="w-[20px] h-[20px]" />&nbsp;
    <input type="text" placeholder="Search in Store" class="text-[12px]" />
  </div>
  <div
    class="lg:border-[1px] rounded-[5px] lg:pr-[14px] lg:pl-[40px] mt-[30px] md:mt-[29px] lg:mt-0 lg:pt-[25px] lg:pb-[17px]"
  >
    <div
      class="grid grid-cols-4 uppercase w-full justify- overflow-x-auto items-center md:grid-cols-4 lg:grid-cols-5 text-[12px] md:text-[14px] lg:text-[16px] font-semibold underline-offset-2"
    >
      <button
        onclick="vendorbutton(this)"
        class="vendor"
        style="text-decoration: underline"
      >
        HOMEPAGE
      </button>
      <button onclick="vendorbutton(this)" class="vendor">
        Popular Products
      </button>
      <button onclick="vendorbutton(this)" class="vendor">All Products</button>
      <button onclick="vendorbutton(this)" class="vendor">
        Subscription Basket
      </button>
      <div
        class="hidden lg:flex w-full border-[1px] h-[42px] items-center pl-[14px] pr-[12px] justify-between rounded-[5px]"
      >
        <input type="text" placeholder="Search in Store" class="text-[12px]" />
        &nbsp;

        <img src="../public/Images/search.svg" class="w-[20px] h-[20px]" />
      </div>
    </div>
  </div>
</div>

<%- include ("./partials/footer") %>
