<%- include ("./partials/header") %>
<div
  class="max-w-[1200px] h-auto sm:h-[225px] md:h-[238px] lg:h-[298px] overflow-y-hidden bg-black mx-auto object-cover z-40"
>
  <img
    src="../public/Images/vendor/wallpaper.png"
    class="opacity-80 hidden lg:block object-cover w-full"
  />
  <img
    src="../public/Images/vendor/wallpaper-mob.png"
    class="opacity-80 block md:hidden w-full object-cover"
  />
  <img
    src="../public/Images/vendor/wallpaper-tab.png"
    class="opacity-80 hidden md:block lg:hidden w-full h-full object-cover"
  />
</div>
<%- include ("./partials/footer") %>
