/* Household logo 1 */

@font-face {
  font-family: "Montserrat";
  src: url("../public/Fonts/Montserrat.ttf");
}

@font-face {
  font-family: "lato";
  src: url("../public/Fonts/Lato-Regular.ttf");
}

* {
  font-family: "Montserrat";
  font-style: normal;
  color: #182b3c;
  
}

.cartdropdown .dropdown{
 align-items: center;
 display:flex;
}


#filtersideid{
  min-height: calc(100%+110px);
}


::-webkit-scrollbar{
  display: none;
}

.swiper-pagination-bullet {
  background: transparent;
  width: 12px;
  height: 12px;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

.swiper-pagination-bullet-active {
  background-color: white;
  width: 12px;
  height: 12px;
}



.cardcss .swiper-button-next::after {
  content: none;
}



.cardcss .swiper-button-prev::after {
  content: none;
}

.cardcss .swiper-button-next1::after {
  content: none;
}


.cardcss .swiper-button-prev1::after {
  content: none;
}

.Adswipe .swiper-pagination-bullet {
  background: transparent;
  width: 6px;
  height: 6px;
  border: 1px solid #182b3c;
  border-radius: 6px;
}

.Adswipe .swiper-pagination-bullet-active {
  background-color: #182b3c;
  width: 6px;
  height: 6px;
}

.Adswipe .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .swiper-pagination-bullet-active {
    width: 6px;
    height: 6px;
  }
}

@media only screen and (min-width: 1024px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 50%;
  }
  .bg-subscription{
    z-index: 500;
    background-color: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.2));

  }
}

.bg-subscription{
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.2));

}


li::marker {
  font-size: 0.5rem;
}

.deliverylist li::marker{
  font-size: 1rem;
}

.orderconfirmation *{
font-family: "lato";
}

.subscription-height{
   max-height: calc(100vh - 103px);
}


